* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/background.jpg");
  font-family: 'Itim', cursive;
}
body a{
  text-decoration: none;
}

.title {
  color: ivory;
  text-align: center;
}

.task__participants {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.task__participants-item {
  padding: 8px 5px;
  border-radius: 1rem;
  background-color: aqua;
  color: black  
}

.tasks {
  font-size: 1.2rem;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
  width: 100%;
  align-items: center;
}

.task {
  padding: 10px;
  background-image: url("../img/Mirage.jpg");
  color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 1;
  width: 60%;
  border-radius: 20px;
}

.task.active::before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 187, 0, 0.8);
  z-index: -1;
}

.task p {
  margin: 0;
}

#deleteTasks{
  display: flex;
  justify-content: center;
margin-left: 380px;
}

.deleteTasks.btn {
  background-color: white;
  border: 1px solid black;
  
}

.btn{
  margin: 10px;
  font-size: 1.5rem;
}